body {
  background-color: #000;
  color: #888;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}
body header {
  background-color: #003955;
  padding: 10px 0;
}
body header .navbar-brand img {
  height: 60px;
  margin-right: 15px;
}
body header .navbar-nav .nav-link {
  color: #888;
}
body header .navbar-nav .nav-link:hover {
  transform: translateY(2px);
}
body .contact-section {
  background-color: #003955;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
body .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
body .contact-methods {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
body .contact-methods li {
  display: flex;
  align-items: center;
}
body .contact-methods li a {
  display: flex;
  align-items: center;
  color: #e7eaec;
  text-decoration: none;
}
body .contact-methods li a i {
  margin-right: 5px;
}
body .contact-methods li a:hover {
  color: #ff69b4;
}
body .contact-form {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  padding: 30px;
}
body .contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
body .contact-form .form-group {
  margin-bottom: 20px;
}
body .contact-form .form-group label {
  display: block;
  font-weight: bold;
}
body .contact-form .form-group input,
body .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.47);
  border-radius: 5px;
}
body .contact-form button[type=submit] {
  background-color: #003955;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
body .contact-form button[type=submit]:hover {
  background-color: #b30086;
}
body .product-box {
  background-color: #040404;
  border: 1px solid #0b0a0a;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
body .product-box h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
body .product-box h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
body .product-box img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}
body .product-box p {
  margin-bottom: 20px;
}
body .product-box label {
  display: block;
  margin-bottom: 10px;
}
body .product-box select,
body .product-box input[type=submit] {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
body .product-box input[type=submit] {
  background-color: #ff009d;
  color: #fff;
  border: none;
  cursor: pointer;
}
body .product-box h3 {
  font-size: 16px;
}
body .footer-box {
  background-color: #0b0b0b;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
body .footer-box ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
body .footer-box ul li {
  display: inline-block;
  margin-right: 10px;
}
body .footer-box ul li a {
  text-decoration: none;
  color: #c96969;
  padding: 5px 10px;
  border: 1px solid #050505;
  border-radius: 5px;
}
body .footer-box p {
  margin: 0;
}
body h1 {
  color: #e304b7;
  text-align: center;
}
#Banner-principal {
  display: block;
  margin: 0 auto;
}
body .agradecimientos {
  text-align: center;
  margin-top: 20px;
}
body h2 {
  color: #0c7398;
}
body a {
  color: #7611a8;
  text-decoration: none;
}
body footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
body footer ul {
  list-style: none;
  padding: 0;
}
body footer ul li {
  display: inline-block;
  margin-right: 10px;
}
body footer ul li a {
  color: #333;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
